{% extends 'base.html.twig' %}

{% block title %}Login to the site{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <div class="bg-light py-3 px-3">
                <h1>Log in</h1>

                {% if error  %}
                    <div class="alert alert-danger">An error has occurred, the username or the password is invalid</div>
                {% endif %}
                <form action="{{ path('account_login') }}" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="_username" id="email" class="form-control" placeholder="Address email..." required value="{{ user }}">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="_password" id="password" placeholder="Password ..." class="form-control">
                    </div>
                    <hr>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
