{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
<div class="container">
    <h1>Change Password</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary mt-2">
            <i class="fas fa-check"></i>
            Save changes
        </button>
    {{ form_end(form) }}
</div>
{% endblock %}