{% extends 'base.html.twig' %}

{% block title %}Modifying the user profile{% endblock %}

{% block body %}
<div class="container">
    <h1>Profile modification</h1>

    {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2 class="alert-heading">General informations</h2>
                    <hr>
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.avatar) }}
                </div>
            </div>

            <div class="col">
                <div class="alert alert-light">
                    <h2 class="alert-heading">Details</h2>
                    {{ form_row(form.introduction) }}
                    {{ form_row(form.description) }}

                    <hr>
                    <p>If you have finished your midifications, you can save them</p>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-check"></i>
                        Save Changes
                    </button>

                </div>
            </div>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}