{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
<div class="container">
    <h1 class="h1 mt-5 mb-5">Register on our site!</h1>

    {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2 class="alert-heading">General informations</h2>
                    <hr>
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.avatar) }}
                </div>

                <div class="alert alert-light">
                    <h2 class="alert-heading">Password</h2>
                    <hr>
                    {{ form_row(form.hash) }}
                    {{ form_row(form.passwordConfirm) }}
                </div>
            </div>

            <div class="col">
                <div class="alert alert-light">
                    <h2 class="alert-heading">Details</h2>
                    {{ form_row(form.introduction) }}
                    {{ form_row(form.description) }}

                    <hr>
                    <p>You are almost there, confirm your registration and join us!</p>
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-check"></i>
                        Confirm registration
                    </button>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}