{% extends 'base.html.twig' %}

{% block title %}Book the ad: {{ ad.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
          crossorigin="anonymous"/>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Book for the ad: <em>{{ ad.title }}</em></h1>
    <p>You are about to book the property of <strong>{{ ad.author.fullName }}</strong>, tell us everything, we'll take care of the rest!</p>

    {{ form_start(form) }}
        <div class="alert alert-light">
            <h2 class="h4">Start by telling us which dates interest you !</h2>
            <div class="row">
                <div class="col">
                    {{ form_row(form.startDate) }}
                </div>
                <div class="col">
                    {{ form_row(form.endDate) }}
                </div>
            </div>
            <h4 class="mt-2">Amount of stay: <span id="amount">...</span> &dollar;</h4>
            <span id="days">0</span> night(s) à {{ ad.price | number_format(2, ',',' ') }} &dollar; by night

            <h4 class="mt-3">Do you have a comment?</h4>
            {{ form_row(form.comment) }}
        </div>

        <h2>You have finished!</h2>
        <p>Dream vacation? Accommodation for work? No matter, we are with you!</p>

        <button type="submit" class="btn btn-success">I book</button>
    {{ form_end(form) }}
</div>
{% endblock %}
