{% extends 'admin/base.html.twig' %}

{% block title %}Reservations administration{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Reservations administration</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Visitor</th>
            <th>Announcement</th>
            <th>Duration</th>
            <th>Rising</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for booking in pagination.data %}
            <tr>
                <td>{{booking.id}}</td>
                <td>{{booking.createAt|date('d/m/Y H:i')}}</td>
                <td><img src="{{booking.booker.avatar}}" alt="" class="avatar avatar-mini"> {{booking.booker.fullName}}</td>
                <td>{{booking.ad.title}}</td>
                <td>{{booking.duration}}</td>
                <td>{{booking.amount | number_format(2, ",", " ")}} &euro;</td>
                <td>
                    <a href="{{path('admin_booking_edit', {'id': booking.id})}}" class="btn btn-primary">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a href="{{path('admin_booking_delete', {'id': booking.id})}}" class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ pagination.display() }}
</div>
{% endblock %}