{% extends'base.html.twig' %}

{% block title %}Page not found{% endblock %}

{% block body %}
<div class="container">
    <h1>Whoops! the page you are looking for does not exist!</h1>
    <p>We are surely having trouble informing you! No worries, you can go back to the reception or see our latest advertisement!</p>

    <a href="{{ path('homepage') }}" class="btn btn-primary">Back to Home</a>
    <a href="{{ path('ads_index') }}" class="btn btn-success">Our listings</a>
</div>
{% endblock %}