div.container{
    margin-top: 20px;
}

div.my-title{
    padding: 2em;
    background-size: cover;
    background-position: center center;

    h1, p {
        color: white;
        text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    }

    .btn {
        margin-top: 2em;
        font-size: 1.5em;
        line-height: 1.5em;
    }
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;

    &.avatar-medium {
        max-width: 64px;
        max-height: 64px;
    }
    
    &.avatar-mini {
        max-width: 32px;
        max-height: 32px;
    }  
}

.alert {
    a {
        text-decoration: none;
    }

    .btn {
        color: white;
    }
}