{% extends 'base.html.twig' %}

{% block title %} Page of {{ user.fullName }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row align-items-center">
        <div class="col-3 text-center">
            <img src="{{ user.avatar }}" class="avatar" alt="Avatar of {{ user.fullName }}">
            <br>
            <span class="badge btn-primary mt-2">{{ user.ads | length }} advertisement</span>
        </div>
        <div class="col-9">
            <h1>{{ user.fullName }}</h1>
            {% if user is same as(app.user) %}
                <div class="mt-3">
                    <a href="{{ path('account_profile') }}" class="btn btn-primary mr-2 mb-2">Change my information</a>
                    <a href="{{ path('account_password') }}" class="btn btn-primary mb-2">Change my password</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="mt-3"></div>
    {{ user.description | raw }}
    <hr>
    <h2>The announcements of {{ user.fullName }}</h2>

    {% if user.ads | length > 0 %}
        <div class="row">
            {% for ad in user.ads %}
                {% include('ad/_ad.html.twig') %}
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning">
            <p><b>{{ user.fullName }} has no ads on the site yet!</b></p>
        </div>
    {% endif %}
</div>
{% endblock %}
