{% extends 'base.html.twig' %}

{% block title %} Modification of comment {{ comment.id }}{% endblock %}

{%  form_theme form _self %}
{% block body %}
    <div class="container">
        <h1 class="my-5">Modification of comment {{ comment.id }}</h1>

        <div class="alert alert-info">
            <strong>Related ad : </strong> {{ comment.ad.title }} <br>
            <strong>Author : </strong> {{ comment.author.fullName }} <br>
            <strong>Creation date : </strong> {{ comment.createdAt|date("d/m/Y H:i") }} <br>
            <strong>Rating given : </strong> {{ comment.rating }}
        </div>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-check"></i>
                Save Changes
            </button>
        {{ form_end(form) }}
    </div>
{% endblock %}