{% extends 'admin/base.html.twig' %}

{% block title %}Comment administration{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Comment management</h1>
    <table class="table table-over">
        <thead>
        <th>Id</th>
        <th>Date</th>
        <th>Author</th>
        <th>Note</th>
        <th>Announcement</th>
        <th></th>
        </thead>

        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.createdAt | date('d/m/Y H:i') }}</td>
                <td>
                    <img src="{{ comment.author.avatar }}" alt="Avatar of {{ comment.author.fullName }}"
                            class="avatar avatar-mini mr-2">
                    {{ comment.author.fullName }}
                </td>
                <td>{{ comment.content }}</td>
                <td>
                    <span class="badge badge-primary rounded">{{ comment.rating | number_format(1,',',' ') }}</span>
                </td>
                <td>{{ comment.ad.title }}</td>
                <td>
                    <a href="{{ path('admin_comment_edit', {'id':comment.id}) }}" class="btn btn-primary">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a href="{{ path('admin_comment_delete', {'id':comment.id}) }}" class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}