<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connection to administration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/dde3b05727.js" crossorigin="anonymous"></script>
    <style>
        body{
            display :flex;
            justify-content: center;
            height: 100vh;
        }
        .card{
            margin-top:10%;
        }
    </style>
</head>
<body>
<div class="col-md-4">
    <div class="card bg-light">
        <div class="card-header">
            <h4 class="card-title">
                <i class="fas fa-lock"></i>
                Connection to administration
            </h4>
        </div>
        <div class="card-body">
            {% if hasError %}
            <div class="alert alert-warning">
                <p>The information you provided is incorrect.</p>
            </div>
            {% endif %}
            <form method="post">
                <div class="form-group">
                    <label for="_username">Email</label>
                    <input type="text" class="form-control" placeholder="Email adress ..." name="_username" value="{{ username }}">
                </div>
                <div class="form-group">
                    <label for="_password">Password</label>
                    <input type="password" class="form-control" placeholder="Password ..." name="_password"></div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-lock-open"></i>
                        Connection
                    </button>
                    <a href="{{ path('homepage') }}" class="btn btn-link">
                        <i class="fas fa-arrow-circle-left"></i>
                        Back to site
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>

