{% set url = path('ads_show', {'slug': ad.slug}) %}

<div class="col-md-4">
    <div class="card bg-light mb3">
        <div class="card-header text-center">
            {{ ad.rooms }} bedrooms, <b>{{ ad.price | number_format(2, ',',' ') }}&dollar; / nights</b> <br>
            {% if ad.comments|length > 0 %}
                {% include 'partials/rating.html.twig' with {'rating' : ad.avgRatings} %}
            {% else %}
                <small>Not rated yet</small>
            {% endif %}
        </div>

        <a href="{{ url }}">
            <img src="{{ ad.coverImage }}" alt="Apartment image" style="height: 200px; width: 100%; display: block">
        </a>

        <div class="card-body">
            <h4 class="card-title">
              <a href="{{ url }}">
                {{ ad.title }}
              </a>
            </h4>
            <p class="card-text">
                 {{ ad.introduction }}
            </p>
            <a href="{{ url }}" class="btn btn-primary">Find out more</a>

            {% if app.user and app.user == ad.author %}
                <a href="{{ path('ads_edit', {'slug' : ad.slug}) }}" class="btn btn-secondary">Edit ad</a>
            {% endif %}
        </div>
    </div>
</div>