{% extends 'base.html.twig' %}

{% block title %}Create an ad{% endblock %}

{% form_theme form 'ad/_collectionImage.html.twig' %}

{% block body %}
<div class="container">
    <h1 class=" h1 mt-5 mb-5">Create a new ad</h1>

    {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2>General informations</h2>
                    <hr>
                    {{ form_row(form.title) }}
                    {{ form_row(form.slug) }}
                    {{ form_row(form.price) }}
                    {{ form_row(form.rooms) }}
                </div>

                <div class="alert alert-light">
                    <h2>Listing details</h2>
                    <hr>
                    {{ form_row(form.introduction) }}
                    {{ form_row(form.content) }}
                </div>
            </div>

            <div class="col">
                <div class="alert alert-light">
                    <h2>Ad images</h2>
                    {{ form_row(form.coverImage) }}
                    {{ form_row(form.images) }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Create a new ad</button>
    {{ form_end(form) }}
</div>
{% endblock %}

{#{% form_theme form 'jquery.collection.html.twig' %}#}

{% block javascripts %}
    {# TODO: Добить плагин для дублирование полей добавления картинок #}
    <script src="{{ asset('build/js/ad.js') }}"></script>
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        $('.my-selector').collection({
            up: '<a href="#">&#x25B2;</a>',
            down: '<a href="#">&#x25BC;</a>',
            add: '<a href="#">[ + ]</a>',
            remove: '<a href="#">[ - ]</a>',
            duplicate: '<a href="#">[ # ]</a>'
            allow_duplicate: true
        });
    </script>
{% endblock %}
