{% extends 'base.html.twig' %}

{% block title %}Editing an ad{% endblock %}

{% form_theme form 'ad/_collectionImage.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class=" h1 mt-5 mb-5">Edit ad: {{ ad.title }}</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary mt-2">Save the changes</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/ad.js') }}"></script>
{% endblock %}
