{% extends 'base.html.twig' %}

{% block title %}Advertising{% endblock %}

{% block body %}
<div class="container">
    <h2 class="h1 mt-5 mb-4">Announcements of our hosts</h2>

    <div class="row mt-4">
        {% for ad in ads %}
            {% include('ad/_ad.html.twig') %}
        {% endfor %}
    </div>
</div>
{% endblock %}
