<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="{{ asset('build/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('biuld/css/app.css') }}">

    <title>{% block title %}SymAPP{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
        and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
        {#{{ encore_entry_link_tags('app/public/css/bootstrap.min.css') }}#}
    {% endblock %}

    <!--<script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>-->

    <script src="{{ asset('build/js/app.js') }}"></script>
    <script src="https://kit.fontawesome.com/dde3b05727.js" crossorigin="anonymous"></script>
    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body>
    {% include 'header.html.twig' %}

    {% block body %}{% endblock %}
</body>
</html>
