{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Welcome to SymAPP</h1>
        <p class="lead">We connect travelers and owners who want to take advantage of opportunities and earn money by offering their property for rent!</p>
        <hr class="my-4">
        <p>Are you a traveler? And you want to see where you can stay for your next trip?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/ads" role="button">See our listings</a>
        </p>
    </div>

    <h2 class="h1 mt-5 mb-4">Our star apartments</h2>

    <div class="row mt-4">
        {% for data in ads %}
            {% include 'ad/_ad.html.twig' with {'ad':data.annonce} %}
        {% endfor %}
    </div>

    <h2 class="h1 mt-5 mb-4">Our star owners</h2>
    
    <div class="row">
        {% for data in users %}
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">{{ data.user.fullName }}</h4>
                            
                        <hr>
                            
                        <div class="card-text">
                            <img src="{{ data.user.avatar }}" alt="Avatar {{ data.user.fullName }}" class="float-left mr-3">
                            <p>{{ data.user.introduction }}</p>
                            <a href="{{ path('user_show', {'slug':data.user.slug}) }}" class="btn btn-success float-right">Find out more!</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}